@import 'tailwindcss';
:root {
  /* Neutrals */
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --gray-100: rgb(245, 245, 245);
  --gray-200: rgb(229, 229, 229);
  --gray-300: rgb(212, 212, 212);
  --gray-400: rgb(163, 163, 163);
  --gray-500: rgb(115, 115, 115);
  --gray-600: rgb(82, 82, 82);
  --gray-700: rgb(64, 64, 64);
  --gray-800: rgb(38, 38, 38);
  --gray-900: rgb(23, 23, 23);

  /* Primary Colors */
  --red: rgb(225, 57, 57);
  --green: rgb(0, 128, 0);
  --blue: rgb(0, 0, 255);
  --yellow: rgb(255, 255, 0);

  /* Extended Colors */
  --lime: rgb(0, 255, 0);
  --orange: rgb(255, 165, 0);
  --purple: rgb(128, 0, 128);
  --pink: rgb(255, 192, 203);
  --brown: rgb(165, 42, 42);

  /* Blues */
  --navy: rgb(0, 0, 128);
  --sky-blue: rgb(135, 206, 235);
  --royal-blue: rgb(65, 105, 225);
  --teal: rgb(0, 128, 128);
  --cyan: rgb(0, 255, 255);

  /* Reds & Warm */
  --maroon: rgb(128, 0, 0);
  --crimson: rgb(220, 20, 60);
  --coral: rgb(255, 127, 80);
  --tomato: rgb(255, 99, 71);
  --gold: rgb(255, 215, 0);

  /* Greens */
  --olive: rgb(128, 128, 0);
  --mint: rgb(152, 255, 152);
  --forest-green: rgb(34, 139, 34);
  --sea-green: rgb(46, 139, 87);

  /* Purples */
  --violet: rgb(238, 130, 238);
  --indigo: rgb(75, 0, 130);
  --lavender: rgb(230, 230, 250);
  --plum: rgb(221, 160, 221);

  /* Pastels */
  --peach: rgb(255, 229, 180);
  --baby-blue: rgb(137, 207, 240);
  --blush-pink: rgb(244, 194, 194);
  --light-mint: rgb(193, 255, 193);

  /* Extras */
  --silver: rgb(192, 192, 192);
  --charcoal: rgb(54, 69, 79);
  --beige: rgb(245, 245, 220);
}


/* light theme */
.light-theme {
  --bg: rgb(255, 255, 255);
  --text: rgb(0, 0, 0);
}

/* dark theme */
.dark-theme {
  --bg: rgb(0, 0, 0);
  --text: rgb(255, 255, 255);
}
